# https://adventofcode.com/about#faq_copying
# https://www.reddit.com/r/adventofcode/wiki/faqs/copyright/puzzle_texts
# Private puzzle inputs should not be shared in public repo
# Puzzle text should not be copied in public repo
day*.*